Geschafft? {{this.game?.isSolved()}}
<div class="game">
	<div *ngIf='game != null'
		class="gameTable"
		(dragstart)='false' (drop)='false'
		(mouseleave)='onMouseLeavesGame()'>

		<!-- <div class="gameColHintRow">
			<div class="emptyCell"></div>
			<div *ngFor='let row of game?.image[0]; let col = index'
				class="gameColHint hint">{{getColHint(col)}}</div>
		</div> -->

		<div *ngFor='let row of game?.image; let y = index'
			class="gameRow">

			<div class="gameRowHint hint">{{getRowHint(y)}}</div>

			<div *ngFor='let cell of row; let x = index'
				[ngStyle]="getCellStyle()"
				[ngClass]="['gameCell', getCellClass(x, y)]"
				(mousedown)='onMouseDown($event, x, y)'
				(contextmenu)='false'
				(mouseup)='onMouseUp($event, x, y)'
				(mouseover)='onMouseEnter($event, x, y)'></div>

		</div>
	</div>
</div>